<app-header></app-header>
<section class="page-section" id="contact"
    style="background: url(assets/img/login_bg.jpg) no-repeat center; background-size: 100% 100%; min-height: calc(100vh - 34px); height: auto;">
    <div class="container fadeInDown">
        <div class="row justify-content-center">
            <div class="text-center text-white mb-4">Welcome, please login with your registered email and password!
            </div>
            <div class="col-lg-4 col-xl-4 login_box" style="background: #ffffff;">
                <form id="contactForm" #angForm="ngForm" novalidate (submit)="onLoggedin();">
                    <div class="form-group has-danger">

                        <label class="form-control-label required" for="inputError">{{'Email' | translate}}</label>
                        <input type="text" class="form-control form-control-danger fadeIn first" placeholder="Email"
                            name="email" [(ngModel)]="loginData.email" #email="ngModel" required
                            [pattern]='emailPattern'>
                        <p class="error-msg"
                            *ngIf="!email.errors?.pattern && email.invalid && (email.dirty || email.touched)">{{
                            'Email is required' | translate }}</p>
                        <p class="error-msg" *ngIf="email.errors?.pattern && (email.dirty || email.touched)">{{ 'Email
                            is invalid' | translate }}</p>
                    </div>

                    <div class="form-group has-danger">
                        <label class="form-control-label required" for="password">{{'Password' | translate}}</label>
                        <input type="password" class="form-control form-control-danger fadeIn first"
                            placeholder="Password" name="password" id="password" [(ngModel)]="loginData.password"
                            #password="ngModel" autocomplete="false" required>
                        <p class="error-msg" *ngIf="(password.invalid && (password.dirty || password.touched))">{{
                            'Password is required' | translate }}</p>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-12 col-lg-7">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-5">
                            <a class="float-right" [routerLink]="['/forgot-password']"> Forgot Password?</a>
                        </div>
                    </div>

                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <button class="btn btn-primary btn-sm" id="submitButton" type="submit"
                        [disabled]="!angForm.valid || isLoading">Login <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
