<div [@routerTransition]>

    <section class="page-section-inner portfolio" id="portfolio">

        <div class="container">
            <h5 class="page-header mb-3">
                Dashboard
            </h5>

            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4"
                    *ngFor="let item of menuList[authService.userDetail.role]; let i = index;">
                    <div class="card border-left-{{item.colorClass}} shadow h-100 py-2">
                        <div class="card-body">
                            <a [routerLink]="[item.url]" class="text-decoration-none"
                                (click)="saveDashboardFilter(item)">
                                <div class="row m-0 no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div
                                            class="text-xs font-weight-bold text-{{item.colorClass}} text-uppercase mb-1">
                                            {{item.title}}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>