<app-header></app-header>
<section class="page-section" id="contact"
    style="background: url(assets/img/login_bg.jpg) no-repeat center; background-size: 100% 100%;">
    <div class="container fadeInDown">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xl-4 login_box" style="background: #ffffff;">
                <div id="formContent">
                    <h4 class="active text-center">{{ 'Forgot Password' | translate }}</h4>

                    <form #angForm="ngForm" novalidate>
                        <div class="form-group">
                            <label class="form-control-label required" for="inputError">{{'Email' | translate}}</label>
                            <input type="text" class="form-control fadeIn first" placeholder="Email" name="email"
                                [(ngModel)]="loginData.email" #email="ngModel" required [pattern]='emailPattern'>
                            <p class="error-msg"
                                *ngIf="!email.errors?.pattern && email.invalid && (email.dirty || email.touched)">{{
                                'Email is required' | translate }}</p>
                            <p class="error-msg" *ngIf="email.errors?.pattern && (email.dirty || email.touched)">{{
                                'Email
                                is invalid' | translate }}</p>
                        </div>
                        <div id="formFooter">
                            <button (click)="onForgot()" [disabled]="angForm.invalid" class="btn btn-primary btn-sm float-right"> {{
                                'Submit'
                                | translate }}
                            </button>
                            <a class="underlineHover float-left p-1" href="#" [routerLink]="['/login']">{{ 'Login' | translate }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>