<div class="modal-header" ngb-modal-draggable>
    <h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form #angForm="ngForm" novalidate>
        <div class="form-content">
            <div class="form-group">
                <label class="form-control-label required" for="inputError">{{'New Password' | translate}}</label>
                <input type="password" class="form-control fadeIn first" placeholder="New Password" name="password"
                    [(ngModel)]="resetData.password" #password="ngModel" autocomplete="false" required>
                <p class="error-msg" *ngIf="password.invalid && (password.dirty || password.touched)">
                    {{'New Password
                    is required' | translate }}</p>
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="inputError">{{'Confirm Password' |
                    translate}}</label>
                <input type="password" class="form-control fadeIn first" placeholder="Confirm Password"
                    name="confirmPassword" [(ngModel)]="resetData.confirmPassword" #confirmPassword="ngModel"
                    autocomplete="false" required>
                <p class="error-msg"
                    *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    {{'Confirm
                    Password is required' | translate }}</p>
                <p class="error-msg"
                    *ngIf="confirmPassword.value && confirmPassword.value!=password.value && (confirmPassword.dirty || confirmPassword.touched)">
                    {{'Confirm
                    Password not match' | translate }}</p>
            </div>
            <div class="form-group has-danger col-sm-12 p-0 float-left">
                <label class="float-left col-sm-12 p-0">Password Reset Request?</label>
                <span class="float-left mr-3 ml-0">
                    <input class="" name="is_reset" id="is_reset" [(ngModel)]="resetData.reset_request"
                        #is_reset="ngModel" type="radio" value="1"> <label for="is_reset">&nbsp;Yes</label>
                </span>
                <span class="float-left mr-3">
                    <input class="" name="is_reset" id="is_reset_no" [(ngModel)]="resetData.reset_request"
                        #is_reset_no="ngModel" type="radio" value="0"> <label for="is_reset_no">&nbsp;No</label>
                </span>
            </div>
            <div class="form-group float-left">
                <div class="d-flex">
                    <input type="checkbox" class="fadeIn first mt-1" id="notify" name="notify"
                        [(ngModel)]="resetData.notify" #notify="ngModel" autocomplete="false">
                    <label class="mb-0 ml-2" for="notify">Notify the user that the password has changed!</label>
                </div>
            </div>
        </div>
        <div id="formFooter" class="float-right">
            <button (click)="onResetPassword()" [disabled]="angForm.invalid"
                class="btn btn-primary btn-sm float-right mb-0">
                {{'Reset' | translate }}
            </button>
        </div>
    </form>
</div>